<%- include ('partials/header.ejs') %>
    <%- include ('partials/main-nav.ejs') %>
        <!-- Main section-->
        <main>
            <div class="col-lg-8 mx-auto p-3 py-md-5">
                <main class="container">
                    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                        <div class="col-md-6 px-0">
                            <h1 class="display-4 fst-italic">About Me :</h1>
                            <p class="lead my-3">Juan Pablo Hernandez Palacios.</p>
                        </div>
                    </div>

                    <div class="container">

                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">Career</strong>
                                <h3 class="mb-0">Data Architect Leader</h3>
                                <p class="card-text mb-auto">I am from Peru, I have a wide experience in technology. I have more than 6 years of experience as a data architect, currently I am working for a Japanese transnational company.</p>
                                <p class="card-text mb-auto">I know tools like: Hadoop, Hive, NiFi, Spark, Kafka and Presto for this I have used tools like Cloudera and Hortonsworks.</p>
                                <p class="card-text mb-auto">In database I have used: Oracle, Cassandra, MongoDB, among others. In cloud I have used tools such as: AWS (EMR, DynamoDB, Kinesis, Glue, Delta Lake, Databricks, Lambdas, ECR and others), Azure (Datafactory, Databricks,
                                    Delta Lake, Synapse, Api Manager, Event Hub, others).</p>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                                    <img  src="/Assets/images/JuanHernandez.jpg" width="250" alt="">

                                </svg>

                            </div>

                        </div>

                    </div>
                </main>
            </div>
        </main>
        <%- include ('partials/bottom-nav.ejs') %>
            <%- include ('partials/footer.ejs') %>