<%- include ('partials/header.ejs') %>
    <%- include ('partials/main-nav.ejs') %>
        <!-- Main section-->
        <main>
            <div class="container py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Services.</h1>
                        <p class="col-md-8 fs-4">Currently I can only provide consulting services, as I have a special contract with the consulting firm I work for..</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include ('partials/bottom-nav.ejs') %>
            <%- include ('partials/footer.ejs') %>